################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/WorkItemViewExt/bin/Debug
/WorkItemViewExt/obj/Debug
*.user
*.suo
